@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="well">
  <h4>Add a new stylist</h4>
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(model => model.Type)
      @Html.TextBoxFor(model => model.Type)
    </div>
    <input type="submit" value="Add new stylist" />
  }
  <div class="fake-button well">
    <center><p class="link">@Html.ActionLink("Show all stylists", "Index")</p></center>
  </div>
</div>